body{
   
    padding: 5cm;
    margin-left: 8cm;
    
}



.button{
    height: 1.5cm;
    width: 1.5cm;
    font-size: 17px;
    font-style: italic;
    background: #831d1d;
    color: rgb(248, 242, 242);
    border-bottom: black 12px solid;
    
}
.button.gray{
    background-color: lightslategrey;
    color: lightyellow;
}
.button.teal{
    background-color: teal;
}
.text{
    height: 1.5cm;
    width: 6.2cm;
    font-style: italic;
    font-size: 20px;;
    color: rgb(8, 8, 8);
    background-color: rgb(228, 228, 179);
}
#box{
    background-color: rgb(204, 141, 130);
    height: 8.2cm;
    width: 6.5cm;
}

/* 
.button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.button:active {
	position:relative;
	top:1px;
} */
